In [163]:
import os
import pandas as pd
import csv

In [164]:
csvpath = os.path.join('pymoli_data.csv')

In [165]:
df = pd.read_csv("pymoli_data.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [166]:
total_purchases = 0
item_count = 0
player_count = 0
total_revenue = 0
visited = []

In [167]:
for i in range(0, len(df['Item Name'])):
    
    if df['Item Name'][i] not in visited: 
        
        visited.append(df['Item Name'][i])
          
        item_count += 1

In [168]:
for i in range(0, len(df['SN'])):
    
    if df['SN'][i] not in visited: 
        
        visited.append(df['SN'][i])
          
        player_count += 1

In [171]:
with open(csvpath) as fin:
    headerline = next(fin)
    for i in csv.reader(fin):
        total_purchases += 1

In [172]:
# with open(csvpath) as fin:
#     headerline = fin.next()
#     for row in csv.reader(fin):
#         total_revenue += int(row[7])
#     print(total_revenue)

AttributeError: '_io.TextIOWrapper' object has no attribute 'next'

In [153]:
mean_df = df['Price'].mean()

ValueError: No axis named Price for object type <class 'pandas.core.frame.DataFrame'>

In [149]:
print ("Total Purchases:", total_purchases)
print ("Unique Items Purchased:", item_count)
print ("Total Players:", player_count)
print("Average Price:", mean_df)

Total Purchases: 780
Unique Items Purchased: 179
Total Players: 576
Average Price: 3.0509871794871795