In [682]:
import os
import pandas as pd
import numpy as np
import csv

In [683]:
csvpath = os.path.join('pymoli_data.csv')

In [684]:
df = pd.read_csv("pymoli_data.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [685]:
total_purchases = 0
item_count = 0
player_count = 0
visited = []

In [686]:
for i in range(0, len(df['Item Name'])):
    
    if df['Item Name'][i] not in visited: 
        
        visited.append(df['Item Name'][i])
          
        item_count += 1

In [687]:
for i in range(0, len(df['SN'])):
    
    if df['SN'][i] not in visited: 
        
        visited.append(df['SN'][i])
          
        player_count += 1

In [688]:
with open(csvpath) as fin:
    headerline = next(fin)
    for i in csv.reader(fin):
        total_purchases += 1

In [689]:
mean_df = df['Price'].mean()

In [690]:
total_revenue = df['Price'].sum()

In [691]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [692]:
count_male = 652
count_female = 113
count_other = 15

In [693]:
percentage_male = (count_male / total_purchases) * 100
percentage_female = (count_female / total_purchases) * 100
percentage_other = (count_other / total_purchases) * 100

In [694]:
male_df = df.loc[df["Gender"] == "Male", :]
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [695]:
female_df = df.loc[df["Gender"] == "Female", :]
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [696]:
other_df = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [697]:
mean_male = male_df['Price'].mean()
mean_female = female_df['Price'].mean()
mean_other = other_df['Price'].mean()

In [698]:
male_revenue = male_df['Price'].sum()
female_revenue = female_df['Price'].sum()
other_revenue = other_df['Price'].sum()

In [699]:
male_totper = male_revenue / male_count
female_totper = female_revenue / female_count
other_totper = other_revenue / other_count

In [700]:
# Create the bins in which Data will be held  
bins = [0, 5.9, 9.9, 13.9, 17.9, 21.9, 25.9, 29.9, 33.9, 37.9, 41.9, 45.9, 49.9]

# Create the names for the bins
group_names = ["0-6", "6-10", "10-14", "14-18", "18-22", "22-26", "26-30", "30-34", "34-38", "38-42", "42-46", "46-50"]

In [701]:
df["Age Groups"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,18-22
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,38-42
2,2,Ithergue48,24,Male,92,Final Critic,4.88,22-26
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,22-26
4,4,Iskosia90,23,Male,131,Fury,1.44,22-26
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,18-22
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,18-22
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,18-22
778,778,Sisur91,7,Male,92,Final Critic,4.19,6-10
779,779,Ennrian78,24,Male,50,Dawn,4.60,22-26

In [702]:
df['Age Groups'].value_counts()

22-26    263
18-22    210
14-18     89
30-34     64
26-30     42
34-38     35
10-14     26
38-42     23
6-10      23
42-46      5
46-50      0
0-6        0
Name: Age Groups, dtype: int64

In [703]:
count_06 = 0
count_0610 = 23
count_1014 = 26
count_1418 = 89
count_1822 = 210
count_2226 = 263
count_2630 = 42
count_3034 = 64
count_3438 = 35
count_3842 = 23
count_4246 = 5
count_4650 = 0

In [704]:
df.'Age Groups'.mean.'Price'()

SyntaxError: invalid syntax (<ipython-input-704-0ac991cead9b>, line 1)

In [681]:
print ("Heroes of Pymoli")
print ("----------------")
print ("Player Count")
print ("Total Number of Players:", player_count)
print ("----------------")
print ("Purchasing Analysis")
print ("Number of Unique Items:", item_count)
print("Average Purchase Price:", mean_df)
print ("Total Number of Purchases:", total_purchases)
print ("Total Revenue:", total_revenue)
print ("----------------")
print ("Gender Demographics")
print ("Percentage of Male Players:", percentage_male,"Count of Male Players:", count_male)
print ("Percentage of Female Players:", percentage_female, "Count of Female Players:", count_female)
print ("Percentage of Other / Non-Disclosed", percentage_other, "Count of Other / Non-Disclosed", count_other)
print ("----------------")
print ("Purchasing Analysis (Gender)")
print ("Number of Purchases: (Male)", count_male, "(Female)", count_female, "(Other/Non-Disclosed)", count_other)
print ("Average Purchase Price: (Male)", mean_male, "(Female)", mean_female, "(Other/Non-Disclosed)", mean_other)
print ("Total Purchase Value: (Male)", male_revenue, "(Female)", female_revenue, "(Other/Non-Disclosed)", other_revenue)
print ("Average Purchase Total per Person Value: (Male)", male_totper, "(Female)", female_totper, "(Other/Non-Disclosed)", other_totper)
print ("----------------")
print ("Age Demographics")
print ("Purchase Count: (0-6)", count_06, "(6-10)", count_0610, "(10-14)", count_1014, "(14-18)", count_1418, "(18-22)", count_1822, "(22-26)", count_2226, "(26-30)", count_2630, "(30-34)", count_3034, "(34-38)", count_3438, "(38-42)", count_3842, "(42-46)", count_4246, "(46-50)", count_4650)

Heroes of Pymoli
----------------
Player Count
Total Number of Players: 576
----------------
Purchasing Analysis
Number of Unique Items: 179
Average Purchase Price: 3.0509871794871795
Total Number of Purchases: 780
Total Revenue: 2379.77
----------------
Gender Demographics
Percentage of Male Players: 83.58974358974359 Count of Male Players: 652
Percentage of Female Players: 14.487179487179489 Count of Female Players: 113
Percentage of Other / Non-Disclosed 1.9230769230769231 Count of Other / Non-Disclosed 15
----------------
Purchasing Analysis (Gender)
Number of Purchases: (Male) 652 (Female) 113 (Other/Non-Disclosed) 15
Average Purchase Price: (Male) 3.0178527607361967 (Female) 3.203008849557522 (Other/Non-Disclosed) 3.3459999999999996
Total Purchase Value: (Male) 1967.64 (Female) 361.94 (Other/Non-Disclosed) 50.19
Average Purchase Total per Person Value: (Male) 3.0178527607361967 (Female) 3.203008849557522 (Other/Non-Disclosed) 3.3459999999999996
----------------
Age Demographics
Purchase Count: (0-6) 0 (6-10) 23 (10-14) 26 (14-18) 89 (18-22) 210 (22-26) 263 (26-30) 42 (30-34) 64 (34-38) 35 (38-42) 23 (42-46) 5 (46-50) 0