In [1606]:
import os
import pandas as pd
import numpy as np
import csv

In [1607]:
#load csv
csvpath = os.path.join('pymoli_data.csv')

In [1608]:
#convert csv to dataframe
df = pd.read_csv("pymoli_data.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [1609]:
#set variables
total_purchases = 0
item_count = 0
player_count = 0
visited = []

In [1610]:
#run a for-loop to get item count
for i in range(0, len(df['Item Name'])):
    
    if df['Item Name'][i] not in visited: 
        
        visited.append(df['Item Name'][i])
          
        item_count += 1

In [1611]:
#run a for-loop to get number of unique players
for i in range(0, len(df['SN'])):
    
    if df['SN'][i] not in visited: 
        
        visited.append(df['SN'][i])
          
        player_count += 1

In [1612]:
#count total number of purchases by all customers
with open(csvpath) as fin:
    headerline = next(fin)
    for i in csv.reader(fin):
        total_purchases += 1

In [1613]:
#calculate average purchase price
mean_df = df['Price'].mean()

In [1614]:
#calculate total revenue for all item purchases
total_revenue = df['Price'].sum()

In [1615]:
#get count of how many customers are male, female, and other / non-diclosed
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [1616]:
#set variables for use in percent calculations
count_male = 652
count_female = 113
count_other = 15

In [1617]:
#calculate percentage of customers that are male, female, and other/non-disclosed
percentage_male = (count_male / total_purchases) * 100
percentage_female = (count_female / total_purchases) * 100
percentage_other = (count_other / total_purchases) * 100

In [1618]:
#create new df with just male customer info
male_df = df.loc[df["Gender"] == "Male", :]
#male_df.head()

In [1619]:
#create df with just female customer info
female_df = df.loc[df["Gender"] == "Female", :]
#female_df.head()

In [1620]:
#create df with just 'other / non-disclosed' customer info
other_df = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
#other_df.head()

In [1621]:
#calculate mean price for items by gender
mean_male = male_df['Price'].mean()
mean_female = female_df['Price'].mean()
mean_other = other_df['Price'].mean()

In [1622]:
#calculate total revenue by gender
male_revenue = male_df['Price'].sum()
female_revenue = female_df['Price'].sum()
other_revenue = other_df['Price'].sum()

In [1623]:
#calculate average amount spent per customer by gender
male_totper = male_revenue / male_count
female_totper = female_revenue / female_count
other_totper = other_revenue / other_count

In [1624]:
# Create the bins in which Data will be held  
bins = [5.9, 9.9, 13.9, 17.9, 21.9, 25.9, 29.9, 33.9, 37.9, 41.9, 45.9]

# Create the names for the bins
group_names = ["6-10", "10-14", "14-18", "18-22", "22-26", "26-30", "30-34", "34-38", "38-42", "42-46"]

In [1625]:
#create df for binned data (by age)
df["Age Groups"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,18-22
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,38-42
2,2,Ithergue48,24,Male,92,Final Critic,4.88,22-26
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,22-26
4,4,Iskosia90,23,Male,131,Fury,1.44,22-26
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,18-22
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,18-22
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,18-22
778,778,Sisur91,7,Male,92,Final Critic,4.19,6-10
779,779,Ennrian78,24,Male,50,Dawn,4.60,22-26

In [1626]:
#calculate customer counts for each binned age group
count_groups = df["Age Groups"].value_counts()
#print (count_groups)

In [1627]:
#calculate mean price of items by age group
mean_groups = df.groupby('Age Groups')
mean_gprice = mean_groups["Price"].mean()
#print (mean_gprice)

In [1628]:
#calculate total expenditure by age group
sum_groups = df.groupby('Age Groups')
sum_gprice = sum_groups["Price"].sum()
#print (sum_gprice)

In [1629]:
#calculate average expenditure per customer by age group
avg_gspend = (sum_gprice / count_groups)
#print (avg_gspend)

In [1630]:
item_groups = df.groupby(['Item Name', 'Item ID', 'Price'])
item_pcount = item_groups['Item ID'].count()
item_psum = item_groups['Price'].sum()
print (item_groups)
print (item_pcount)
print (item_psum)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fbef037f978>
Item Name                        Item ID  Price
Abyssal Shard                    162      2.67     5
Aetherius, Boon of the Blessed   137      3.39     5
Agatha                           120      3.08     6
Alpha                            130      2.07     3
Alpha, Oath of Zeal              79       4.05     3
                                                  ..
Wolf                             60       3.54     8
Wolf, Promise of the Moonwalker  179      4.48     6
Worldbreaker                     112      2.60     4
Yearning Crusher                 74       4.18     3
Yearning Mageblade               114      3.82     5
Name: Item ID, Length: 183, dtype: int64
Item Name                        Item ID  Price
Abyssal Shard                    162      2.67     13.35
Aetherius, Boon of the Blessed   137      3.39     16.95
Agatha                           120      3.08     18.48
Alpha                            130      2.07      6.21
Alpha, Oath of Zeal              79       4.05     12.15
                                                   ...
Wolf                             60       3.54     28.32
Wolf, Promise of the Moonwalker  179      4.48     26.88
Worldbreaker                     112      2.60     10.40
Yearning Crusher                 74       4.18     12.54
Yearning Mageblade               114      3.82     19.10
Name: Price, Length: 183, dtype: float64

In [1631]:
topitem_df = pd.DataFrame({"Purchase Count":item_pcount, "Total Purchase Value":item_psum})
sortitem_df = topitem_df.sort_values("Purchase Count").tail()
#sortitem_df.tail()

In [1632]:
valueitem_df = topitem_df.sort_values("Total Purchase Value").tail()
#print (valueitem_df)

In [1633]:
SN_groups = df.groupby('SN')
spender_df = SN_groups["Price"].sum()
spendercount = SN_groups["Price"].count()
avgprice = SN_groups["Price"].mean()
#print (spendercount)
#print (spender_df)
#print (avgprice)

In [1634]:
topspender_df = pd.DataFrame({"Purchase Count":spendercount, "Average Purchase Price":avgprice, "Total Purchase Value":spender_df})
topspender_df.head()
top5spender = (topspender_df.sort_values("Total Purchase Value").tail())

In [1635]:
print ("Heroes of Pymoli")
print ("----------------")
print ("Player Count")
print ("Total Number of Players:", player_count)
print ("----------------")
print ("Purchasing Analysis")
print ("Number of Unique Items:", item_count)
print("Average Purchase Price:", mean_df)
print ("Total Number of Purchases:", total_purchases)
print ("Total Revenue:", total_revenue)
print ("----------------")
print ("Gender Demographics")
print ("Percentage of Male Players:", percentage_male,"Count of Male Players:", count_male)
print ("Percentage of Female Players:", percentage_female, "Count of Female Players:", count_female)
print ("Percentage of Other / Non-Disclosed", percentage_other, "Count of Other / Non-Disclosed", count_other)
print ("----------------")
print ("Purchasing Analysis (Gender)")
print ("Number of Purchases: (Male)", count_male, "(Female)", count_female, "(Other/Non-Disclosed)", count_other)
print ("Average Purchase Price: (Male)", mean_male, "(Female)", mean_female, "(Other/Non-Disclosed)", mean_other)
print ("Total Purchase Value: (Male)", male_revenue, "(Female)", female_revenue, "(Other/Non-Disclosed)", other_revenue)
print ("Average Purchase Total per Person Value: (Male)", male_totper, "(Female)", female_totper, "(Other/Non-Disclosed)", other_totper)
print ("----------------")
print ("Age Demographics")
print ("Purchase Count:", count_groups)
print ("Average Purchase Price:", mean_gprice)
print ("Total Purchase Value:", sum_gprice)
print ("Average Purchase Total per Person by Age Group:", avg_gspend)
print ("----------------")
print ("Top Spenders:", top5spender)
print ("----------------")
print ("Most Popular Items:", sortitem_df.tail())
print ("----------------")
print ("Most Profitable Items:", valueitem_df.tail())

Heroes of Pymoli
----------------
Player Count
Total Number of Players: 576
----------------
Purchasing Analysis
Number of Unique Items: 179
Average Purchase Price: 3.0509871794871795
Total Number of Purchases: 780
Total Revenue: 2379.77
----------------
Gender Demographics
Percentage of Male Players: 83.58974358974359 Count of Male Players: 652
Percentage of Female Players: 14.487179487179489 Count of Female Players: 113
Percentage of Other / Non-Disclosed 1.9230769230769231 Count of Other / Non-Disclosed 15
----------------
Purchasing Analysis (Gender)
Number of Purchases: (Male) 652 (Female) 113 (Other/Non-Disclosed) 15
Average Purchase Price: (Male) 3.0178527607361967 (Female) 3.203008849557522 (Other/Non-Disclosed) 3.3459999999999996
Total Purchase Value: (Male) 1967.64 (Female) 361.94 (Other/Non-Disclosed) 50.19
Average Purchase Total per Person Value: (Male) 3.0178527607361967 (Female) 3.203008849557522 (Other/Non-Disclosed) 3.3459999999999996
----------------
Age Demographics
Purchase Count: 22-26    263
18-22    210
14-18     89
30-34     64
26-30     42
34-38     35
10-14     26
38-42     23
6-10      23
42-46      5
Name: Age Groups, dtype: int64
Average Purchase Price: Age Groups
6-10     3.353478
10-14    2.918077
14-18    3.006742
18-22    3.082190
22-26    3.045247
26-30    2.645238
30-34    2.997969
34-38    3.209429
38-42    3.509565
42-46    2.998000
Name: Price, dtype: float64
Total Purchase Value: Age Groups
6-10      77.13
10-14     75.87
14-18    267.60
18-22    647.26
22-26    800.90
26-30    111.10
30-34    191.87
34-38    112.33
38-42     80.72
42-46     14.99
Name: Price, dtype: float64
Average Purchase Total per Person by Age Group: 6-10     3.353478
10-14    2.918077
14-18    3.006742
18-22    3.082190
22-26    3.045247
26-30    2.645238
30-34    2.997969
34-38    3.209429
38-42    3.509565
42-46    2.998000
dtype: float64
----------------
Top Spenders:              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Iskadarya95               3                4.366667                 13.10
Iral74                    4                3.405000                 13.62
Chamjask73                3                4.610000                 13.83
Idastidru52               4                3.862500                 15.45
Lisosia93                 5                3.792000                 18.96
----------------
Most Popular Items:                                                             Purchase Count  \
Item Name                                    Item ID Price
Shadow Strike, Glory of Ending Hope          37      3.16                8
Fiery Glass Crusader                         145     4.58                9
Nirvana                                      82      4.90                9
Extraction, Quickblade Of Trembling Hands    108     3.53                9
Oathbreaker, Last Hope of the Breaking Storm 178     4.23               12

                                                            Total Purchase Value
Item Name                                    Item ID Price
Shadow Strike, Glory of Ending Hope          37      3.16                  25.28
Fiery Glass Crusader                         145     4.58                  41.22
Nirvana                                      82      4.90                  44.10
Extraction, Quickblade Of Trembling Hands    108     3.53                  31.77
Oathbreaker, Last Hope of the Breaking Storm 178     4.23                  50.76
----------------
Most Profitable Items:                                                             Purchase Count  \
Item Name                                    Item ID Price
Singed Scalpel                               103     4.35                8
Final Critic                                 92      4.88                8
Fiery Glass Crusader                         145     4.58                9
Nirvana                                      82      4.90                9
Oathbreaker, Last Hope of the Breaking Storm 178     4.23               12

                                                            Total Purchase Value
Item Name                                    Item ID Price
Singed Scalpel                               103     4.35                  34.80
Final Critic                                 92      4.88                  39.04
Fiery Glass Crusader                         145     4.58                  41.22
Nirvana                                      82      4.90                  44.10
Oathbreaker, Last Hope of the Breaking Storm 178     4.23                  50.76