In [189]:
import os
import pandas as pd
import csv

In [190]:
csvpath = os.path.join('pymoli_data.csv')

In [191]:
df = pd.read_csv("pymoli_data.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [192]:
total_purchases = 0
item_count = 0
player_count = 0
visited = []

In [193]:
for i in range(0, len(df['Item Name'])):
    
    if df['Item Name'][i] not in visited: 
        
        visited.append(df['Item Name'][i])
          
        item_count += 1

In [194]:
for i in range(0, len(df['SN'])):
    
    if df['SN'][i] not in visited: 
        
        visited.append(df['SN'][i])
          
        player_count += 1

In [195]:
with open(csvpath) as fin:
    headerline = next(fin)
    for i in csv.reader(fin):
        total_purchases += 1

In [196]:
mean_df = df['Price'].mean()

In [197]:
total_revenue = df['Price'].sum()

In [198]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [199]:
count_male = 652
count_female = 113
count_other = 15

In [200]:
percentage_male = (count_male / total_purchases) * 100
percentage_female = (count_female / total_purchases) * 100
percentage_other = (count_other / total_purchases) * 100

In [201]:
print ("Heroes of Pymoli")
print ("----------------")
print ("Player Count")
print ("Total Number of Players:", player_count)
print ("----------------")
print ("Purchasing Analysis")
print ("Number of Unique Items:", item_count)
print("Average Purchase Price:", mean_df)
print ("Total Number of Purchases:", total_purchases)
print ("Total Revenue:", total_revenue)
print ("----------------")
print ("Gender Demographics")
print ("Percentage of Male Players:", percentage_male,"Count of Male Players:", count_male)
print ("Percentage of Female Players:", percentage_female, "Count of Female Players:", count_female)
print ("Percentage of Other / Non-Disclosed", percentage_other, "Count of Other / Non-Disclosed", count_other)

Heroes of Pymoli
----------------
Player Count
Total Number of Players: 576
----------------
Purchasing Analysis
Number of Unique Items: 179
Average Purchase Price: 3.0509871794871795
Total Number of Purchases: 780
Total Revenue: 2379.77
----------------
Gender Demographics
Percentage of Male Players: 83.58974358974359 Count of Male Players: 652
Percentage of Female Players: 14.487179487179489 Count of Female Players: 113
Percentage of Other / Non-Disclosed 1.9230769230769231 Count of Other / Non-Disclosed 15

In [202]:
male_df = df.loc[df["Gender"] == "Male", :]
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [203]:
female_df = df.loc[df["Gender"] == "Female", :]
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [204]:
other_df = df.loc[df["Gender"] == "Other / Non-Disclosed", :]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39